[Unit]
Wants=getBingDesktopPicture.timer
Description=Get the Bing Desktop daily picture and set it as background

[Service]
ExecStart=/usr/local/bin/getBingDesktopPicture.sh
Restart=on-failure
RestartSec=120s