[Unit]
Description=Get the Bing Desktop daily picture and set it as background

[Timer]
OnActiveSec=30s
OnCalendar=*-*-* 07:30:00
OnUnitActiveSec=5h
Persistent=true
Unit=getBingDesktopPicture.service

[Install]
WantedBy=timers.target